body {
    color:#333;
}

img {
    max-width: 100%;
}

main {
    padding: 10px;
    max-width: 500px;
    margin:0 auto;
}

header {
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a.logo {
    font-weight: bold;
}

header nav {
    display:flex;
    gap:15px;
}

div.post {
    border: 1px solid #333;
    border-radius:3%;
    padding:30px;
}